@model aspnet_uppgift_1.Models.SchoolClassViewModel

@{
    ViewData["Title"] = "Edit class";
}

<h1>Edit</h1>

<h4>@Model.Name</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TeacherId" class="control-label">
                    @Html.DisplayNameFor(model => model.Teacher)
                </label>
                @Html.DropDownListFor(m => m.TeacherId, new SelectList(SchoolClassViewModel.AllTeachers, "Id", "DisplayName"), "Select a teacher", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.TeacherId, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label asp-for="StudentIds" class="control-label">
                    @Html.DisplayNameFor(model => model.Students)
                    <span class="fw-lighter text-black-50 text-wrap">(Use CTRL or CMD to mark multiple students)</span>
                </label>
                @Html.ListBoxFor(m => m.StudentIds, new MultiSelectList(SchoolClassViewModel.AllStudents, "Id", "DisplayName", Model.StudentIds), new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.StudentIds, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>

    <div class="col-md-7 p-2">
        <h5>Enrolled students</h5>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
            @foreach (var student in Model.Students)
            {
                <div class="col p-3">
                    <span>@student.DisplayName</span>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
